<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jacky.mycloudmusic">

    <!-- http网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读存取卡权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--有前台服务-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m"><!-- http网络权限配置2 -->
        <service
            android:name=".service.MusicPlayerService"
            android:enabled="true"
            android:exported="false"
            android:persistent="true"
            android:priority="1000" />

        <activity android:name=".activity.AdActivity" />
        <activity android:name=".activity.CommonToolbarActivity" />
        <activity android:name=".activity.LoginOrRegisterActivity" />
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>